@mixin marginGen() {
  margin-left: 6em;
  margin-right: 6em;
}
/*-------------------- Mobile --------------------*/
img {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
}

.header {
  // background-image: url("../img/hero_bg_2.jpg");
  // background-repeat: no-repeat;
  // background-size:cover;
  background: linear-gradient(50deg, purple, orange);
  height: 70vh;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;

  nav {
    color: white;
    @include marginGen;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;

      li {
        list-style-type: none;
        margin-right: 1em;
      }
    }
  }
  .headerT {
    @include marginGen;
    width: 50%;
    h2 {
      font-size: 4.2em;
    }
  }
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .three {
    grid-column: 1/3;
  }

  .six {
    grid-column: 1/3;
  }
}

.services {
  @include marginGen;
  margin-top: 4em;
  margin-bottom: 4em;
  grid-gap: 2em;

  .arcticleS {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 12px #555;
    padding: 1.5em;

    i {
      font-size: 2em;
      text-align: center;
      padding-bottom: 1em;
    }

    h3 {
      margin-bottom: 0.2em;
    }
  }

  .button {
    text-align: center;

    p {
      padding: 1em;
      background-color: pink;
      width: 20%;
      border: solid black 1px;
      margin: auto;
    }
  }
}

.products {
  @include marginGen;
}

.benefits {
  @include marginGen;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .ourB {
    grid-column: 1/3;
  }
}

.footer {
  @include marginGen;
}
/*-------------------- Mobile --------------------*/
/*-------------------- Tablette --------------------*/
@media screen and (min-width:750px) {
  .services {
    grid-template-columns: 1fr 1fr;

    .ourS,
    .third {
      grid-column: 1/3;
    }
  }

  .products {
    grid-template-columns: 1fr 1fr;

    .ourP,
    .third {
      grid-column: 1/3;
    }
  }
}
/*-------------------- Tablette --------------------*/
/*-------------------- Bureau --------------------*/
@media screen and (min-width:1080px) {
  .images {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b c d" "e e f f";

    .one {
      grid-area: a;
    }

    .two {
      grid-area: b;
    }

    .three {
      grid-area: e;
    }

    .four {
      grid-area: c;
    }

    .five {
      grid-area: d;
    }

    .six {
      grid-area: f;
    }
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;

    .third {
      grid-column: auto;
    }


    .ourS {
      grid-column: 1/4;
    }
  }

  .products {
    grid-template-columns: 1fr 1fr 1fr;

    .third {
      grid-column: auto;
    }


    .ourP {
      grid-column: 1/4;
    }
  }

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .ourB {
      grid-column: 1/4;
    }
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;

    .copy {
      grid-column: 1/4;
    }
  }
}
/*-------------------- Bureau --------------------*/
